@use '../abstracts' as *;

.btn {
  @include button(transparent, $text-dark);
  border: 1px solid rgba($text-dark, 0.75);
  background: transparent;
  
  &-primary {
    background: $text-dark;
    color: $text-light;
    border-color: $text-dark;
    
    &:hover {
      transform: translateY(-2px);
      background: $secondary-purple;
      border-color: $secondary-purple;
    }
  }
  
  &-secondary {
    background: transparent;
    color: $text-dark;
    border: 1px solid rgba($text-dark, 0.6);
    
    &:hover {
      background: $text-dark;
      color: $text-light;
    }
  }
}
